body{
    background-image: url("https://cdn.pixabay.com/photo/2021/06/27/14/32/raspberry-6368999__340.png");
}
h1{
    text-align: center;
    color:black;
    margin-top:22%;
}
p{
    text-align: center;
    color:black;
    margin-top:22%;
    
    
}
h2{
    text-align: center;
    color:black;
    margin-top:22%;
}