body{
    background-image: url("https://cdn.pixabay.com/photo/2021/06/27/14/32/raspberry-6368999__340.png");
}
h1{
    text-align: center;
    color:black;
    margin-top:22%;
}
p{
    text-align: center;
    color:black;
    margin-top:22%;
    
    
}
h2{
    width: 100%;
    text-align: center;
    color:black;
    margin-top:5%;
}
h5{
    color:yellow;
    text-align: center;

}